
#cardImageLink {
    width: 1000px;
    max-width: 98vw;
}

#mommy {
    margin: auto auto;
    display: flex;
    height: 99vh;
}

#cardArea {
    width: 49vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: calc(99vh - 90px);
    overflow: auto;
}

#searchText {
    width: 600px;
    max-width: 23vw;
}

#results {
    margin-top: 30px;
    padding: 11px;
    border-radius: 12px;
}

#cardArea>div {
    width: 300px;
    min-width: 30%;
    position:relative;
    top:0px;
    max-width: 100%;
    aspect-ratio: 2.5/3.5;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: local;
    border-radius: 10px;
    transition: all 0.3s;
}


#cardArea>div:hover,#deckArea>div:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 12px black;
}

#topBar {
    background-color: #CCB;
}
#deckArea {
    width: 49vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #CCB;
    overflow-y:auto;
    overflow-x:visible;
    max-height: calc(99vh - 90px);
}
#leaderArea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    padding: 10px;
    padding-top: 0px;
    max-width: 100%;
}

#deckArea>div, #leaderArea>div {
    width: 300px;
    min-width: 30%;
    max-width: 100%;
    aspect-ratio: 2.5/3.5;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: local;
    border-radius: 10px;
    transition: all 0.3s;
    position: relative;
    top:0px;
}


.count{
    position: absolute;
    right: 0px;
    top:0px;
    transform: translate(50%, -25%);
    border-radius: 50%;
    padding: 0px 18px;
    aspect-ratio: 1;
    background-color: white;
    color: black;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    border: 2px solid black;
}
.plus{
    position: absolute;
    right: 0px;
    top:25%;
    transform: translate(50%, -25%);
    border-radius: 50%;
    padding: 0px 9px;
    aspect-ratio: 1;
    background-color: white;
    color: black;
    font-size: 34px;
    font-weight: 900;
    text-align: center;
    border: 2px solid black;
}
.minus{
    position: absolute;
    right: 0px;
    top:50%;
    transform: translate(50%, -25%);
    border-radius: 50%;
    padding: 0px 9px;
    aspect-ratio: 1;
    background-color: white;
    color: black;
    font-size: 34px;
    font-weight: 900;
    text-align: center;
    border: 2px solid black;
}
#cardsInLeaderArea, #cardsInDeckArea {
    background-color: transparent;
    border: 2px solid black;
    margin-left: 4px;
}
#exportDeckResults {
    margin: 10px;
    padding: 2px;
    background-color: aquamarine;
}
.remove{
    position: absolute;
    right: 0px;
    top:75%;
    transform: translate(50%, -25%);
    border-radius: 50%;
    padding: 0px 9px;
    aspect-ratio: 1;
    background-color: red;
    color: white;
    font-size: 34px;
    font-weight: 900;
    text-align: center;
    border: 2px solid white;
}
body {
    background-color: #DDD;
}

.hidden {
    position: absolute;
    display: inline;
    opacity: 0%;
    transition: all 0.32s;
    bottom: 0px;
    width: 100%;
    height: 59%;
    background-image: linear-gradient(#0000, #000C, #000E, #000F);
}
.hidden .inspect {
    position: absolute;
    left: 25%;
    transform: translate(-50%, 0%);
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    top: 45%;
    font-size: 20px;
    padding: 5px;
    transition: all 0.32s;
}
.hidden .setLeader {
    position: absolute;
    left: 75%;
    transform: translate(-50%, 0%);
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    top: 45%;
    font-size: 20px;
    padding: 5px;    
    transition: all 0.32s;

}
.hidden .addToDeck {
    position: absolute;
    left: 10%;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    bottom: 12%;
    font-size: 20px;
    width: 80%;
    padding: 5px;
    text-align: center;
    transition: all 0.32s;
}

.hidden button:hover {
    background-color: #FFF7;
}

#gameSlots > div{
    width: 80vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color:burlywood;
    position: relative;
    right: 8px;
}
h4 {
    margin: 5px;
    font-size: 21px;
}

#gameSlots  label {
    font-size: 16px;
    color: #444;
    text-shadow: 0px 0px 2px white;
    margin: 5px;
    
}

.smaller {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

#inspect{
    height:100vh;
    width: 100vw;
    background-color: #1116;
    opacity:0;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: gray;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

