:root {
    --bgGradient: linear-gradient(#080808,#102);
    --buttonGradient: linear-gradient(90deg,#204,#204);
    --textColor: #EEE;
    --borderColor: #AAA;
    --shadowColor: #333;
}
button {
    background-image: var(--buttonGradient);
    color: var(--textColor);
    border: 2px solid var(--textColor);
}
body {
    transform-style: preserve-3d;
    background-image: var(--bgGradient);
    color: var(--textColor)
}

#playingField {
    height: calc(100vh - 40px);
    width: 120vh;
    margin-left: 2vh;
}

#bCharacterArea,
#tCharacterArea {
    position: relative;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#bLeaderStage,
#tLeaderStage {
    position: relative;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#bDONArea,
#tDONArea {
    position: relative;
}

.donRealArea {
    height: 50%;
    width: 100%;
    margin: 0px;
    border-bottom: 1px;
    position: relative;
    top: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.CCard {
    background-size: cover;
    height: 45%;
    aspect-ratio: 2.5/3.5;
    position: relative;
    margin: auto 2%;
    transform-style: preserve-3d;
}

.CCard .DONCard,
.LCard .DONCard {
    transform: translateZ(-10px);
    position: absolute;
    top: 1.5em;
    left: 0.5em;
    height: 100%;
    width: 100%;
}

.DONCard {
    height: 75%;
    aspect-ratio: 2.5/3.5;
    border: 2px solid var(--borderColor);
    position: relative;
    top: 12.5%;
}

.LCard {
    position: absolute;
    background-size: cover;
    height: 60%;
    aspect-ratio: 2.5/3.5;
    margin: auto 6px;
    transform-style: preserve-3d;

}

.rested {
    transform: rotate(90deg);
}

#topPlayerArea {
    height: 50%;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 20% 60% 20%;
    position: relative;
    top: 0px;
}

#botPlayerArea {
    height: 50%;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 20% 60% 20%;
}

#topPlayerArea div {
    border: 1px solid var(--borderColor);
}

#botPlayerArea div {
    border: 1px solid var(--borderColor);
}

#popOutBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: 100%;
    height: 600px;
    max-height: 90%;
    box-shadow: 7px 12px 10px var(--borderColor);
    background-color: #aaa
}

.buttons {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 0%;
    transition: all 0.32s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.buttons>div {
    border: 2px solid white;
    padding: 2px;
    font-size: 1.2em;
    color: white;
    background-color: #111A;
    text-align: center;
    width: 80%;
    min-width: max-content;
    margin: auto auto;
    border-radius: 100px;
}

#gameOptions {
    position: absolute;
    left: 124vh;
    top: 24px;
    height: calc(49vh - 24px);
    width: calc(100vw - 126vh);
    margin: 0px;
    display: flex;
    overflow: visible;
}

#gameLogMain {
    position: absolute;
    left: 124vh;
    top: 50vh;
    height: 48vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: end;
    justify-content: end;
    border: 2px solid var(--borderColor);
    border-radius: 4px;
}

#gameButtons {
    width: calc(100% - calc(5/7 * calc(49vh - 24px)));
    height: calc(100% - 10px);
    min-width: 30%;
    border: 2px solid var(--borderColor)
}

#cardDisplay {
    height: 100%;
    aspect-ratio: 2.5/3.5;
    border-radius: 4px;
    border: 2px solid var(--borderColor);
    max-width: 70%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

#cardDisplayHeader {
    text-align: center;
    margin: 4px;
    color: var(--textColor);
    text-shadow: 2px 4px 2px var(--shadowColor), 2px 4px 2px var(--shadowColor);
    font-size: 1.4em;
}

#gameLog {
    overflow: auto;

}

#gameLog h4,
#gameLogMain h4 {
    margin: 0px;
}

#gameLog p {
    margin: 0px;
}

.DONCard {
    background-size: cover;
}

#gamelog>div {
    padding: 2px;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    width: calc(100vw - 126vh);
}

.trash {
    background-size: cover;
}

#gameLogMain>div {
    padding: 2px;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    width: calc(100vw - 126vh);
}

#gamelogMain input {
    width: 82%
}

#gamelogmain button {
    width: 18%
}

@media (screen) and (min-aspect-ratio: 3/7) {
    /*narrow (a little less wide than a regular iphone) */

}

@media (screen) and (min-aspect-ratio: 8/9) {
    /* square (a little less wide than a square)*/
}

@media (screen) and (min-aspect-ratio: 11/9) {
    /* wide (a little less wide than a regular i-pad)*/
}

@media (screen) and (min-aspect-ratio: 14/9) {
    /*very wide (a little less wide than normal pc)*/
    /* default, look above */
}

@media (screen) and (min-aspect-ratio: 2/1) {
    /*super very wide (widescreen pc)*/
}

#bDonMain,
#tDonMain,
#bLifeTrash,
#tLifeTrash {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}

#bDonMain>div,
#tDonMain>div,
#bLifeTrash>div,
#tLifeTrash>div {
    height: 90%;
    aspect-ratio: 2.5/3.5;
    position: relative;
    top: 5%;
    border: 2px solid var(--borderColor);
    background-size: cover;
    background-color: #4444;
}

#bHand,
#tHand {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
}

#bHand>div,
#tHand>div {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0px;
    height: 96%;
    aspect-ratio: 2.5/3.5;
    position: relative;
    top: 2%;
    border: 2px solid var(--borderColor);
    background-size: cover;
}

.count {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #222C;
    color: white;
}

.peepin {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #222C;
    color: white;
    font-size: 1.2em;
}

.heartIMG {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-image: url("../images/heart.png");
    background-size: cover;
    border: none;
    outline: none;
}

.trashIMG {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    background-image: url("../images/trash.png");
    background-size: cover;
    border: none;
    outline: none;
}

.handIMG {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    background-image: url("../images/Hand.png");
    background-size: cover;
    border: none;
    outline: none;
}

.eyeIMG {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    background-image: url("../images/eye.png");
    background-size: cover;
    border: none;
    outline: none;
    filter: invert(100%);
}


.resizeIMG {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    background-image: url("../images/resize.png");
    background-size: cover;
    border: none;
    outline: none;
    background-color: none;
    filter: invert(100%);
}

.donIMG {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    background-image: url("../images/DON.png");
    background-size: cover;
    border: none;
    outline: none;
}

.bigBozoDon p {
    text-align: center;
    margin: 1.25%;
    font-size: 0.95em;
}

.bigBozoDon input {
    width: 3em;
    font-size: 0.95em;
}

.bigBozoDon {
    max-height: 50%;
    overflow: auto;
}

.mainIMG {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    background-image: url("../images/main.png");
    background-size: cover;
    border: none;
    outline: none;
}

.count>p {
    margin: 2px;
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 2px 1px var(--borderColor);
}


::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: gray;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

#mainGameButtons {
    width: 100%;
    border-bottom: 4px solid var(--borderColor);
}

#mainGameButtons>button {
    width: 100%;
    margin-bottom: 2px;
    margin-top: 2px;
}

#cardOptions .buttons {
    position: relative;
    width: 100%;
    top: 0px;
    transition: all 0.32s;
    left: -4px;
    margin: 0px;
    padding: 0px;
    opacity: 1;
    display: inline;

}

#cardOptions .buttons>div {
    border: 1px solid var(--borderColor);
    padding: 2px;
    font-size: 0.9em;
    color: var(--textColor);
    background-color: var(--buttonGradient);
    text-align: center;
    width: 100%;
    margin: 2px 0px;
    opacity: 1;
    border-radius: 0px;
}

#cardOptions input {
    width: 1em;
    aspect-ratio: 1;
}

#cardOptions .long {
    width: 1.5em;
    font-size: 1.2em;
}

#cardOptions {
    position: relative;
    top: 0px;
}

.search {
    position: absolute;
    width: 70vw;
    left: 15vw;
    height: 20vh;
    top: 40vh;
    background-color: #0009;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    color: white;
    z-index: 200;
}

.search>.pcard {
    height: 95%;
    aspect-ratio: 2.5/3.5;
    background-size: cover;
    position: relative;
}

.search button {
    position: absolute;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 2px darkred;
    border: 1px solid var(--borderColor);
    top: 0px;
    right: 0px;
}