body {
    transform-style: preserve-3d;
}
#playingField {
    height: calc(100vh - 40px);
    width: 120vh;
    margin-left: 2vh;
}
#bCharacterArea, #tCharacterArea {
    position: relative;
    top: 0px;

}
#bDONArea, #bDONArea {
    position: relative;
}
.donRealArea {
    height: 50%;
    width: 100%;
    margin: 0px;
    border-bottom: 1px;
    position: relative;
    top: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}
.CCard {
    position: absolute;
    background-size: cover;
    height: 40%;
    aspect-ratio: 2.5/3.5;
}
.CCard .DONCard, .LCard .DONCard {
    transform: translateZ(-10px);
    position: absolute;
    top: 3em;
    right: 4em;
    height: 100%;
}
.DONCard {
    height: 50%;
    aspect-ratio: 2.5/3.5;
    border: 2px solid black
}
.LCard {
    position: absolute;
    background-size: cover;
    height: 55%;
    aspect-ratio: 2.5/3.5;
}
.rested {
    transform: rotate(90deg);
}
#topPlayerArea {
    height: 50%;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 20% 60% 20%;
    border: 2px solid navy;position: relative;
    top: 0px;
}
#botPlayerArea {
    height: 50%;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 20% 60% 20%;
    border: 2px solid navy;
}
#topPlayerArea div {
    border: 1px solid black;
}
#botPlayerArea div {
    border: 1px solid black;
}

#popOutBox {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: 100%;
    height: 600px;
    max-height: 90%;
    box-shadow: 7px 12px 10px black;
    background-color: #aaa

}
#gameLogMain {
    position: absolute;
    left: 124vh;
    top: 50vh;
    height: 48vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: end;
    justify-content: end;
    border: 2px solid black;
    border-radius: 4px;
}
#gameLog {
    overflow: auto;

}
#gameLog h4, #gameLogMain h4 {
    margin: 0px;
}
#gameLog p {
    margin: 0px;
}
#gamelog > div {
    padding: 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: calc(100vw - 126vh);
}
#gameLogMain > div {
    padding: 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;    
    width: calc(100vw - 126vh);
}
#gamelogMain input {
    width: 82%
}
#gamelogmain button {
    width: 18%
}
@media (screen) and (min-aspect-ratio: 3/7) { /*narrow (a little less wide than a regular iphone) */
    
}
@media (screen) and (min-aspect-ratio: 8/9){  /* square (a little less wide than a square)*/
}
@media (screen) and (min-aspect-ratio: 11/9){  /* wide (a little less wide than a regular i-pad)*/
}
@media (screen) and (min-aspect-ratio: 14/9) {  /*very wide (a little less wide than normal pc)*/
    /* default, look above */
}
@media (screen) and (min-aspect-ratio: 2/1) {  /*super very wide (widescreen pc)*/
}

#bDonMain, #tDonMain,#bLifeTrash, #tLifeTrash {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}
#bDonMain > div, #tDonMain>div, #bLifeTrash >div , #tLifeTrash >div {
    height: 90%;
    aspect-ratio: 2.5/3.5;
    position: relative;
    top: 5%;
    border: 2px solid black;
    background-size: cover;
}
#bHand, #tHand {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
}
#bHand>div, #tHand>div {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0px;
    height: 96%;
    aspect-ratio: 2.5/3.5;
    position: relative;
    top: 2%;
    border: 2px solid black;
    background-size: cover;
}

.count {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #2222;
}
.heartIMG {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-image: url("../images/heart.png");
    background-size: cover;
    border: none;
    outline: none;
}
.trashIMG {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-image: url("../images/trash.png");
    background-size: cover;
    border: none;
    outline: none;
}
.handIMG {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-image: url("../images/Hand.png");
    background-size: cover;
    border: none;
    outline: none;
}
.donIMG {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-image: url("../images/DON.png");
    background-size: cover;
    border: none;
    outline: none;   
}
.mainIMG {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-image: url("../images/main.png");
    background-size: cover;
    border: none;
    outline: none;      
}
.count > p {
    margin: 2px;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 2px 1px black;
}


::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: gray;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
